@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Big+Shoulders:opsz,wght@10..72,100..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Deca:wght@100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:ital,wght@0,900;1,900&family=Young+Serif&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Colors */
    --purple-100: hsl(254, 88%, 90%);
    --purple-500: hsl(256, 67%, 59%);
    --yellow-100: hsl(31, 66%, 93%);
    --yellow-500: hsl(39, 100%, 71%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 7%);

    /* Fonts */
    --font-dmsans: 'DM Sans', sans-serif;
    --fw-400: 400;
    --fw-500: 500;
    --fs-p: 18px;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 375px;
    width: 100%;
    margin: auto;
    justify-content: center;
    background-color: var(--white);
    font-family: var(--font-dmsans);
}

.card-one {
    width: 100%;
    height: fit-content;
    background-color: var(--purple-500);
    text-align: center;
    font-size: 2rem;
    color: var(--white);
    margin-top: 1rem;
    padding: 2rem;
    border-radius: 10px;
}

.card-one h2 {
    line-height: 100%;
    font-weight: var(--fw-400);
}

.times {
    color: var(--yellow-500);
}

.fast {
    font-style: italic;
}

.card-one p {
    font-size: var(--fs-p);
}

.card-one img {
    width: 50%;
    padding-top: 1rem;
}