@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Big+Shoulders:opsz,wght@10..72,100..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Deca:wght@100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:ital,wght@0,900;1,900&family=Young+Serif&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Colors */
    --purple-100: hsl(254, 88%, 90%);
    --purple-500: hsl(256, 67%, 59%);
    --yellow-100: hsl(31, 66%, 93%);
    --yellow-500: hsl(39, 100%, 71%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 7%);

    /* Fonts */
    --font-dmsans: 'DM Sans', sans-serif;
    --fw-400: 400;
    --fw-500: 500;
    --fs-p: 18px;
}

body {
    height: 100%;
    background-color: hsl(0, 0%, 95%);
    font-family: var(--font-dmsans);
    font-family: var(--font-dmsans);
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    width: 100%;
    margin: auto;
    align-items: center;
}

.card-one {
    width: 100%;
    height: fit-content;
    background-color: var(--purple-500);
    text-align: center;
    font-size: 2rem;
    color: var(--white);
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 2rem;
    border-radius: 10px;
}

.card-one h2 {
    line-height: 100%;
    font-weight: var(--fw-400);
}

.times {
    color: var(--yellow-500);
}

.fast {
    font-style: italic;
}

.card-one p {
    font-size: var(--fs-p);
}

.card-one img {
    width: 60%;
    padding-top: 2rem;
}

.card-two {
    background-color: var(--white);
    border-radius: 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
}

.card-two img {
    width: 100%;
}

.card-two h2 {
    font-weight: var(--fw-500);
    line-height: 100%;
}

.card-three {
    background-color: var(--yellow-500);
    padding: 1rem;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.card-three img {
    width: 60%;
    margin-bottom: -40px;
    margin-top: 10px;
    overflow: hidden;
}

.card-three h2 {
    line-height: 100%;
    font-weight: var(--fw-500);
}

.card-four {
    background-color: var(--purple-100);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.card-four img {
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.card-four h2 {
    font-weight: var(--fw-500);
    padding-top: 1rem;
}

.card-four p {
    font-size: var(--fs-p);
    text-align: center;
    padding: 0.5rem;
    line-height: 100%;
    font-weight: var(--fw-400);
}

.card-five {
    background-color: var(--purple-500);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.card-five img {
    width: 60%;
}

.card-five h2 {
    color: var(--white);
    text-align: center;
    padding-top: 1rem;
    font-weight: var(--fw-500);
    line-height: 100%;
}

.card-six {
    background-color: var(--white);
    padding: 1rem;
    border-radius: 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.card-six img {
    width: 50%;
}

.card-six h2 {
    font-weight: var(--fw-400);
    font-size: var(--fs-p);
    padding-bottom: 1rem;
}

.card-six span {
    font-size: 2.5rem;
    font-weight: var(--fw-500);
}

.card-seven {
    background-color: var(--yellow-100);
    border-radius: 10px;
    padding: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.card-seven img {
    width: 50%;
}

.card-seven h2 {
    line-height: 100%;
    padding-bottom: 1rem;
    font-weight: var(--fw-500);
}

.card-seven span {
    font-style: italic;
    color: var(--purple-500);
}

.card-eight {
    background-color: var(--yellow-500);
    padding: 1rem 2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    border-radius: 10px;
}

.card-eight img {
    width: 60%;
    padding-top: 1rem;
}

.card-eight h2 {
    line-height: 90%;
    font-weight: var(--fw-500);
    font-size: 2rem;
}